@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roobert TRIAL';
  src: url('./assets/fonts/RoobertArabicVF-TRIAL.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}
